<div class="container">
  <%= render "layouts/shared/search"%>
  <h1 class="text-center">All Plants</h1><br>
  <div class="listingcards listingcards-index">
  
    <% Listing.all.each do |listing| %>
      <% if listing.category == "Plants"%>
        <%= link_to listing_path(listing) do %>
          <%= render partial: "/listings/shared/card", locals: { listing: listing } %>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>