<section class="container">
<div class="cards mt-5">
  <div class="card-wrapper">
    <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path "plants.jpg" %>')">
    </div>
      <div class="card-product-infos px-4 py-4">
        <h3 class="font-weight-bold" >Plants</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus sollicitudin ligula, id luctus dui aliquam id. In a sapien.</p>
        <a class="btn btn-success rounded-pill" href='/plants' >Browse Plants</a>
      </div>
  </div>

  <div class="card-wrapper">
    <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path "poots.jpg" %>')">
    </div>
    <div class="card-product-infos px-4 py-4">
      <h3 class="font-weight-bold" >Pots</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus sollicitudin ligula, id luctus dui aliquam id. In a sapien. </p>
      <a class="btn btn-success rounded-pill" href="/pots">Browse Pots</a>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path "PlantsAccess.jpg" %>')">
    </div>
    <div class="card-product-infos px-4 py-4">
        <h3 class="font-weight-bold" >Accessories</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus sollicitudin ligula, id luctus dui aliquam id. In a sapien.</p>
        <a class="btn btn-success rounded-pill" href="/accessories">Browse Accessories</a>
      </div>
  </div>
</div>
</section>