<footer class="white-section" id="footer">
    <div class="container-fluid text-center">
      <i class="pr-2 social-icon fa-brands fa-facebook-f"></i>
      <i class="pr-2 social-icon fab fa-twitter"></i>
      <i class="pr-2 social-icon fab fa-instagram"></i>
      <i class="fa-thin fa-airplay"></i>
      <div><p>© Botica Market - Copyright 2022 </p></div>
    </div>
</footer>

<i class=""></i>