<div class="container-fluid" style="width: 85%;">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a class="navbar-brand fs-4 fw-light"  style="color: black;" href="/">
        <img src="/assets/icon2.jpg" alt="" width="45" height="45">
        BONTICA MARKET
    </a>

    <ul class="nav col-12 col-lg-auto ms-lg-auto justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-dark">Plants</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Pots</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Accessories</a></li>
    
      <div class="dropdown text-end pt-1">
        <a class="d-block link-dark text-decoration-none dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
          <% if user_signed_in? %>
            <%= image_tag(current_user.avatar.variant(resize_to_fill: [40, 40]), class: "rounded-circle") %>
          <% else %>
            <img alt="image" class="rounded-circle" src="/assets/default_avatar.jpg" width="32" height="32"  >
          <% end %> 
        </a>
        <ul class="dropdown-menu text-small" style="">
          <% if !current_user %>
            <a class="dropdown-item" href="<%= new_user_registration_path %>">Sign Up</a>
            <a class="dropdown-item" href="<%= new_user_session_path  %>">Sign In</a>
          <% else %>
            <a class="dropdown-item" href="/">My Cart</a>
            <a class="dropdown-item" href="/">My Porfile</a>
            <li class="dropdown-item"><hr class="dropdown-divider"></li>
            <a class="dropdown-item" href="<%= destroy_user_session_path  %>">Sign Out</a>
          <% end %>
        </ul>
      </div>
    </ul>
    
  </div>
</div>