<h1 class="text-center">All Users</h1>

<ul class="list-group" style="padding: 0em 10% 0em 10%;">
    <li class="list-group-item" style="background-color: #428bca; border-color: #357ebd;; color: #fff;">
        <div class="row">
            <div class="col-md-3">
                <b>User Email</b>
            </div>
            <div class="col-md-3">
                <b>User Name</b>
            </div>
            <div class="col-md-3">
                <b>Avatar</b>
            </div>
            <div class="col-md-3 text-center">
                <b>Buttom</b>
            </div>
        </div>
    </li>
    <%@users = User.all%>
    <% @users.each do |user| %>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3">
                <%= user.email %>
            </div>
            <div class="col-md-3">
                <%= user.username %>
            </div>
            
            <div class="col-md-3">
                 <% if user.avatar.persisted? %>
                    <%= image_tag(user.avatar, size: "40x40") %> 
                 <% end %>  
            </div>
            <div class="col-md-3 text-center">
            <% if !user.admin? %>
                <%= button_to "Delete User", user_path(user),  data: {turbo_confirm: 'Are you sure?'}, method: :delete, class: "btn btn-danger" %>
            <% end %>
            </div>
        </div>
    </li>
    <% end %>
</ul>

