<section class="py-5 text-center container shadow">
 <div class="row gutters-sm">
    <%= render "layouts/shared/user_card" %>
    



    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
        
        </div>
      </div>
    </div>
  
</section>