/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


.inner {
    max-width: 850px;
    margin: auto;
    background: #fff;
    display: flex;
    box-shadow: 0px 0px 10px 0px RGB(0 0 0 / 20%);
    -webkit-box-shadow: 0px 0px 10px 0px RGB(0 0 0 / 20%);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.image-holder {
    width: 50%;
    padding-right: 15px;
}


form {
    width: 50%;
    padding-top: 77px;
    padding-right: 60px;
    padding-left: 15px;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 768px) {

form {
    width: 100%;
    padding: 0px 15px 70px;
}

.inner {
    display: block;
}

.image-holder {
    width: 100%;
    padding-right: 0;
}

}